@model Closer3.Models.CashReg

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CashReg</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cash)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Check)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Check)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Visa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Visa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MasterCard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MasterCard)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discover)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discover)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiftCard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiftCard)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tax)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CashRegisterId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
