@model IEnumerable<Closer3.Models.CashRegister>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cash)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Check)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Visa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MasterCard)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discover)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiftCard)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CcTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cash)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Check)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Visa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MasterCard)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Discover)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiftCard)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CcTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RegisterId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RegisterId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RegisterId })
        </td>
    </tr>
}

</table>
